<div class="container-fluid">
  <div class="col-sm-6">
    <div class="hdr1">
      <div class="hdr11">
        THE SNEAKER STORE
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <nav class="hdr2">
      <input type="search" name="" id="" placeholder="Type to search...">
      <button type="submit">
        <span class="glyphicon glyphicon-search"></span>
      </button>
      <a href="" class="glyphicon glyphicon-shopping-cart"></a>
      <ul class="hdr21 list-inline" id="hdr21">
        <li>
          <a href="#">Shop</a>
        </li>
        <li>
          <a href="#">About</a>
        </li>
        <li>
          <a href="#">Blog</a>
        </li>
        <li>
          <a href="#">Contact</a>
        </li>
        <li>
          <a href="signin">Login</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
<div class="container-fluid">
  <div class="" *ngFor="let p of productList">
    <div class="gallery">
      <a target="_blank">
        <img src="{{p.image}}" alt="" >
      </a>
      <div class="desc">
        {{p.name}}
        <br> {{p.color}}
        <br> ${{p.unit_price}}
      </div>
    </div>
  </div>
</div>
